.avatar-img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 20px;
}

.edit-avatar {
    text-align: center;
    padding: 23px 0px;
}

.edit-avatar a {}

.edit-avatar .btn {}

.avatar-img img {
    border-radius: 50%;
}

.feature {
    padding-bottom: 15px;
}

.feature .feature-bot {
    padding: 7px 42px;
}

.feature .feature-bot a {
    padding: 0px 30px;
}

.feature .feature-top {
    padding: 20px 0px;
    text-align: center;
}

.feature.feature-top a {
    padding: 0px 30px;
}

.feature .feature-top span {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.feature .manager-bot {
    padding: 7px 42px;
}

.feature .manager-bot li {
    padding: 0px 30px;
}

.feature hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #ddd;
}

.feature .feature-top span {
    padding-top: 20px;
    text-align: center;
}