<div id="content">
                <div class="container background-white">
                    <div class="container">
                        <div class="row margin-vert-30">
                                <form class="login-page">
                                    <div class="edit_profile">
                                            <div class="edit_your_profile">Edit your profile</div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <label>Họ</label>
                                                </div>
                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                    <div class="input-group margin-bottom-20 edit">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                                        <input placeholder="Trần " class="form-control" type="text">
                                                    </div>    
                                                </div>  
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <label>Tên</label>
                                                </div>
                                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                    <div class="input-group margin-bottom-20 edit">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                                        <input placeholder="Minh Tâm" class="form-control" type="text">
                                                    </div>    
                                                </div>  
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <label>Địa chỉ Email</label>
                                                </div>
                                               <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                    <div class="input-group margin-bottom-20 edit">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input placeholder="MinhTam@gmail.com" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                         <div class="row">
                                            <div>
                                                <button class="btn btn-primary pull-right submit" type="submit" >Cập nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </form>
                
                            <!-- End Login Box -->
                        </div>
                    </div>
                </div>
            </div>