<div id="content">
    <div class="container background-white wow fadeInDown">
        <div class="container">
            <div class="row margin-vert-30">
                <form class="login-page">
                    <div class="edit_profile">
                        <div class="edit_your_profile">Edit your profile</div>
                        <hr/>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>Last name</label>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <div class="input-group margin-bottom-20 edit">
                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                    <input placeholder="Tran " class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>First name</label>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <div class="input-group margin-bottom-20 edit">
                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                    <input placeholder="Minh Tam" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <label>Email</label>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <div class="input-group margin-bottom-20 edit">
                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                        </span>
                                    <input placeholder="minhtam.tran@gmail.com" class="form-control" type="text">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button class="btn btn-success pull-right submit" type="submit">Update</button>
                            </div>
                        </div>
                    </div>

                </form>

                <!-- End Login Box -->
            </div>
        </div>
    </div>
</div>