<div id="content">
                <div class="container background-white">
                    <div class="container">
                        <div class="row margin-vert-30">
                                <form class="login-page">
                                    <div class="login-header margin-bottom-30">
                                        <h2>Edit your profile</h2>
                                    </div>
                                    <div class="edit_profile">
                                        
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <label>Tên đầy đủ</label>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <div class="input-group margin-bottom-20 edit">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                        </span>
                                                        <input placeholder="Trần Thị Minh Tâm" class="form-control" type="text">
                                                    </div>    
                                                </div>
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 icon_cog">
                                                    <a><i class="fa fa-cog" aria-hidden="true"></i>Sửa</a>
                                                </div>
                                            </div>
                                        
                                            <div class="row">
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                    <label>Địa chỉ Email:</label>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <div class="input-group margin-bottom-20 edit">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input placeholder="MinhTam@gmail.com" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 icon_cog">
                                                    <a><i class="fa fa-cog" aria-hidden="true"></i>Sửa</a>
                                                </div>
                                            </div>
                                         <div class="row">
                                            <div>
                                                <button class="btn btn-primary pull-right submit" type="submit" >Cập nhật</button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </form>
                
                            <!-- End Login Box -->
                        </div>
                    </div>
                </div>
            </div>