.edit_profile{
	border:1px solid #ddd;
	border-radius: 10px;
	padding:10px;
	height: 300px;
	width:60%;
	margin-top: 20px;
}
.edit_profile .edit{
	margin:20px 20px 30px 5px;
}
.submit{
	margin-right:153px
}
label{
	padding-top: 30px;
}
.icon_cog{
	padding-top: 30px;
	margin-left: -42px;
	margin-right: 10px;
}