<div ng-controller="aboutUsCtrl">
<div class="container">
	<div class="header">
			<p class="p1">ABOUT PASSION NEWS</p>
			<p class="p2"><strong><i>Passion News is a website of Passion Team. This is the first time we work as a team. We had to face up to many problems. Sometimes, we wanted to give up. But we tried as hard as we can in order to create this website. So, have it your life!</i></strong></p>
			
			<p class="p3">MEMBERS</p>
		<div>
		
		<div class="row about-us">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m1.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Dinh Duong Hai</strong></p>
					<p>Project Manager</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m2.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Pham Thi Anh Thu</strong></p>
					<p>Business Analyst</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m3.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Tran Thi Nhu Hieu</strong></p>
					<p>Main Developer</p>
				</div>
				
			</div>
			
		</div>
		<!-- Tâm Trung Mỹ -->
		<div class="row about-us">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m4.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Tran Thi Minh Tam</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m5.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Nguyen Duong Trung</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m6.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Nguyen Thi My</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
		
		</div>
		<!--Phúc Đào Bảo-->	
		<div class="row about-us">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m7.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Le Tien Phuc</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m8.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Nguyen Thi Anh Dao</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m9.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Le Quoc Bao</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			
		</div>
	<!-- hiếu nam bích út -->
		<div class="row about-us">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m10.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Vo Huu Hieu</strong></p>
					<p>Developer</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m11.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Huynh Thi Ngoc Bich</strong></p>
					<p>Business Analyst</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m12.gif" class="img1 ">
				</div>
				<div class="col-md-6 ten">
					<p><strong>Pham Thi Thanh Thao</strong></p>
					<p>Staff</p>
				</div>
				
			</div>
			
		</div>
            </div>

			
		

	</div></div>
	
</div>