<div ng-controller="aboutUsCtrl">
	<div class="header">
			<p class="p1">GIỚI THIỆU VỀ WEBSITE</p>
			<p class="p2">-WESITE là wesite tin tức, là sảm phẩm của nhóm trong quá trình học môn "Phân tích thiết kế hệ thống thông tin".</p>
			<p class="p3">CÁC THÀNH VIÊN</p>
		<div>
		<div class="container">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m1.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Hải Dương</p>
					<p>Chức vụ: PM</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m2.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Anh Thư</p>
					<p>Chức vụ: BA</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m3.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Hiếu Trần</p>
					<p>Chức vụ: DEV chính</p>
				</div>
				
			</div>
			
		</div>
		<!-- Tâm Trung Mỹ -->
		<div class="container">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m4.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Minh Tâm</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m5.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Dương Trung</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m6.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Nguyễn Mỹ</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
		
		</div>
		<!--Phúc Đào Bảo-->	
		<div class="container">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m7.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Tiến Phúc</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m8.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Anh Đào</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m9.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Quốc Bảo</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			
		</div>
	<!-- hiếu nam bích út -->
		<div class="container">
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m10.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Hữu Hiếu</p>
					<p>Chức vụ: DEV</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m11.jpg" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Ngọc Bích</p>
					<p>Chức vụ: Photoshop</p>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="col-md-6"><img src="assets/img/about-us/m12.gif" class="img1 ">
				</div>
				<div class="col-md-6 ten" style="padding:30px">
					<p>Tên: Út </p>
					<p>Chức vụ: Photoshop</p>
				</div>
				
			</div>
			
		</div>

			
		

	</div></div>
	<address class="address" style="padding: 30px"> <strong class="name">NHÓM PASSION NEWS</strong><br> Lớp 13CNTT, trường Đại học Sư phạm Đà Nẵng<br> Số điện thoại: (+84) 5113 833 666<br> Email: contact@passionnews.vn<br> </address>
</div>