 /*CHANGE PASSWORD*/
 
 h2 {
     text-align: center;
     padding-bottom: 7px;
 }
 
 .change_password .form-horizontal {
     padding-top: 7px;
 }
 
 .change_password .form-horizontal .form-group label {
     text-align: left;
     font-style: normal;
 }
 
 .change_password .form-horizontal .submit button {
     /* background: #39b54a; */
     /* border-color: #4cae4c; */
     /* float: right; */
     /* margin-bottom: 20px; */
     /* margin-right: 10px; */
 }
 
 .change_password {
     background-color: #fff;
     display: inline-block;
     float: left;
     margin-bottom: 20px;
     padding: 0 15px;
     width: 100%;
     margin-top: 20px;
 }
 /*POST NEWS*/
 
 .post_news .form {
     padding-top: 7px;
 }
 
 .post_news .form .form-group label {
     font-style: normal;
     padding-bottom: 13px;
     font-size: 17px;
 }
 
 .post_news .form .img input {
     padding-top: 80px;
 }
 
 .post_news .form .form-group select {
     font-style: normal;
 }
 
 .post_news .form .form-group .describe textarea {
     min-height: 75px;
 }
 
 .post_news .form .form-group textarea {
     min-height: 300px;
 }
 
 .post_news .form .submit button {
     /* background: #39b54a; */
     /* border-color: #4cae4c; */
     /* float: right; */
     /* margin-bottom: 20px; */
     margin-right: 10px;
 }
 
 .form-group {
     font-style: italic;
     /* padding-top: 20px; */
 }
 
 .post_news {
     background-color: #fff;
     display: inline-block;
     float: left;
     margin-bottom: 20px;
     padding: 0 75px;
     width: 100%;
     margin-top: 20px;
 }
 /*Category*/
 
 .btn {}
 
 .button_Cate {
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 .content {
     background-color: #ffffff;
 }
 
 #pagination-flickr li {
     border: 0;
     margin: 0;
     padding: 0;
     font-size: 11px;
     list-style: none;
 }
 
 #pagination-flickr a {
     border: solid 1px #DDDDDD;
     margin-right: 2px;
 }
 
 #pagination-flickr .previous-off,
 #pagination-flickr .next-off {
     color: #666666;
     display: block;
     float: left;
     font-weight: bold;
     padding: 3px 4px;
 }
 
 #pagination-flickr .next a,
 #pagination-flickr .previous a {
     font-weight: bold;
     border: solid 1px #FFFFFF;
 }
 
 #pagination-flickr .active {
     color: #ff0084;
     font-weight: bold;
     display: block;
     float: left;
     padding: 4px 6px;
 }
 
 #pagination-flickr a:link,
 #pagination-flickr a:visited {
     color: #0063e3;
     display: block;
     float: left;
     padding: 3px 6px;
     text-decoration: none;
 }
 
 #pagination-flickr a:hover {
     border: solid 1px #666666;
 }