<div class="login_form" ng-controller="loginCtrl">
    <form name="form" role="form">
        <div class="row  wow fadeInLeft">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8 form">
                <h2><i class="fa fa-unlock-alt" aria-hidden ="true" ></i>Login</h2>
                <hr>
                <div ng-show="area_message" class="alert alert-danger">
                    <strong>{{message1}}</strong><br/> 
                    <strong>{{message2}}</strong>
                    <strong>{{message3}}</strong>
                </div>
                <div class="input-group" ng-class="{ 'has-error': form.E-mail.$dirty && form.E-mail.$error.required }">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                        </span>
                    <input type="email" class="form-control email" name="E-mail" id="E-mail"  required placeholder="Enter Your E-mail" ng-model="email"/>
                    <span ng-show="form.E-mail.$dirty && form.E-mail.$error.required" class="help-block"></span>
                </div>

                <div class="input-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <span class="input-group-addon">
                        <i class="fa fa-shield"></i>
                    </span>
                    <input type="password" name="password" id="password" class="form-control" required placeholder="Enter Your Password" ng-model="password"/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>
                </div>
                <div class="row">
                    <div class="remember">
                        <label class="checkbox">
                            <input type="checkbox">Remember me</label>
                    </div>
                    <div class="forgot-pass">
                        <a href=" ">Forgot your Password?</a>
                    </div>
                </div>

                <div class="form-actions">
                            <button type="submit" ng-click="login()" class=" pull-right btn btn-success">Login</button>
                        <div class="clearfix"></div>
                </div>
                <div class="row note">
                    <p>Don't have an account? <a href=" ">Register now!</a></p>

                </div>

            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </form>

</div>