.register_form {      
    background: url(/assets/img/news/register.jpg);
    padding: 34px 60px 34px 60px;
}
h2{
        padding-top: 7px;
}
.input-group {padding: 13px 35px;}
.register_form .form{
   background-color: #fff;
   padding: 0px 50px;
   /* margin: 30px 0px 30px 0px; */
}


.register_form .form-actions {
    padding: 30px;
}
.register_form .form-actions a{
padding-left: 70px;
    
padding-right: 70px;
    
font-weight: 600;
    
font-size: 16px;
}
.register_form .form-actions button{
    
padding-left: 70px;
    
padding-right: 70px;
    
font-weight: 600;
    
font-size: 16px;
}
.register_form .form-actions .col-sm-4 {
	margin-left: 40px;
}
.register_form .form-actions .col-md-4 {
	margin-left: 40px;
}
.register_form .form-actions .col-xs-12 button {
		margin-bottom: 20px;
	    margin-left: -6px;
}
.register_form .form-actions .col-xs-12 a {
	   margin-left: -3px;
}