<!-- <div>
    <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_footer_top wow fadeInLeft">
                <h2>Flicker Images</h2>
                <ul class="flicker_nav">
                  <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/news/75x75.jpg" alt="img"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_footer_top wow fadeInDown">
                <h2>Labels</h2>
                <ul class="labels_nav">
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Games</a></li>
                  <li><a href="#">Fashion</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Technology</a></li>
                  <li><a href="#">Slider</a></li>
                  <li><a href="#">Life & Style</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="single_footer_top wow fadeInRight">
                <h2>About Us</h2>
                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec laoreet orci, eget ullamcorper quam. Phasellus lorem neque, </p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_bottom_left">
                        <p>Copyright © 2014 <a href="index.html">Sora Red</a></p>
                    </div>   
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_bottom_right">
                        <p>Designed BY <a href="http://wpfreeware.com/">Wpfreeware</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div>
     
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4">
              <div class="single_footer_top wow fadeInLeft">
                <h2>About Us</h2>
                <ul class="flicker_nav">
                  <li>
                      <a href="#"><img src="assets/img/about-us/m1.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/about-us/m2.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m3.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/about-us/m8.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m5.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/about-us/m6.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m7.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/about-us/m9.jpg" alt="img"></a>
                      <li>
                     <a href="#"><img src="assets/img/about-us/m10.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m11.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m12.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m13.jpg" alt="img"></a>
                  </li>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-6">
              <div class="single_footer_top wow fadeInDown">
                <h2>Contact Details </h2>
                <div id="content-bottom-border" class="container">
            </div>
            <div id="base">
                <div class="container padding-vert-30 margin-top-60">
                    <div class="row">
                        <!-- Contact Details -->
                        <div class="col-md-4 margin-bottom-20">
                            
                            <p>
                                <span >Telephone: </span>(212)888-77-88
                                <br>
                                <span >Email: </span>
                                <a href="passionnews@gmail.com">passionnews@gmail.com</a>
                                <br>
                                <p> Nhóm Passion </p>
                                <p> 13CNTT </p>
                                <p> Đại Học Sư Phạm - ĐHĐN </p>
                                <p> 459 Tôn Đức Thắng, Đà Nẵng </p>
                                
                            </p>
                            
                        </div>

                        <!-- End Contact Details -->
            <div class="col-lg-4 col-md-0 col-sm-6">
              <div class="single_footer_top wow fadeInRight">
                <div class="text-center">  Coppyright@PASSION TEAM 13CNTT - 2016 </div>
                <div class="text-center">  Đại Học Sư Phạm - ĐHĐN </div>

                <P> 
        </div>
      </div>
      
    
</div>

