<div>
     <footer id="footer">
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-4">
              <div class="single_footer_top wow fadeInLeft">
                <h2>About Us</h2>
                <ul class="flicker_nav">
                  <li>
                      <a href="#"><img src="assets/img/about-us/m1.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/about-us/m2.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m3.jpg" alt="img"></a>
                  </li>                 
                  <li>
                      <a href="#"><img src="assets/img/about-us/m8.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m5.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/about-us/m6.jpg" alt="img"></a>
                  </li>
                   <li>
                      <a href="#"><img src="assets/img/about-us/m7.jpg" alt="img"></a>
                  </li>                 
                  <li>
                     <a href="#"><img src="assets/img/about-us/m9.jpg" alt="img"></a>
                      <li>
                     <a href="#"><img src="assets/img/about-us/m10.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m11.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m12.jpg" alt="img"></a>
                  </li>
                   <li>
                     <a href="#"><img src="assets/img/about-us/m13.jpg" alt="img"></a>
                  </li>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-6">
              <div class="single_footer_top wow fadeInDown">
                <h2>Contact Details </h2>
                <div id="content-bottom-border" class="container">
            </div>
            <div id="base">
                <div class="container padding-vert-30 margin-top-60">
                    <div class="row">
                        <!-- Contact Details -->
                        <div class="col-md-4 margin-bottom-20">
                            
                            <p>
                                <span >Telephone: </span>(212)888-77-88
                                <br>
                                <span >Email: </span>
                                <a href="passionnews@gmail.com">passionnews@gmail.com</a>
                                <br>
                                <p> Nhóm Passion </p>
                                <p> 13CNTT </p>
                                <p> Đại Học Sư Phạm - ĐHĐN </p>
                                <p> 459 Tôn Đức Thắng, Đà Nẵng </p>
                                
                            </p>
                            
                        </div>

                        <!-- End Contact Details -->
            <div class="col-lg-4 col-md-0 col-sm-6">
              <div class="single_footer_top wow fadeInRight">
                <div class="text-center">  Coppyright@PASSION TEAM 13CNTT - 2016 </div>
                <div class="text-center">  Đại Học Sư Phạm - ĐHĐN </div>

                <P> 
        </div>
      </div>
      
    </footer>

  <!-- jQuery google CDN Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <!-- For content animatin  -->
  <script src="js/wow.min.js"></script>
  <!-- bootstrap js file -->
  <script src="js/bootstrap.min.js"></script> 
  <!-- slick slider js file -->
  <script src="js/slick.min.js"></script> 
  
    <!-- custom js file include -->
  <script src="js/custom.js"></script> 

  <!-- =========================
        //////////////This Theme Design and Developed //////////////////////
        //////////// by www.wpfreeware.com======================-->
    
      
  </body>
</html>