<div class="footer_top">
    <div class="container">
        <div class="col-lg-4 col-md-4">
            <div class="single_footer_top wow fadeInLeft">
                <address class="address" style="padding-top: 30px;">
                     <p><strong class="name">PASSION TEAM</strong></p>
                     <p>Grade 13CNTT.</p>
                     <p>Da Nang University of Education.</p>
                     <p>Da Nang University.</p> 
                </address>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="single_footer_top wow fadeInDown">
                <address class="address" style="padding-top: 60px; color:#ccc;">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>Phone: (+84) 5113 833 666.</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i>Email: <a href=" ">contact@passionnews.vn</a>.</p>
                </address>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="single_footer_top wow fadeInRight">
                <div class="text-center" style="padding-top: 50px; color:#ccc"> <i>Copyright © PASSION TEAM 13CNTT - 2016.</i></div>
                <div class="text-center" style="color:#ccc">
                    <i>Da Nang University of Education.</i>
                </div>
            </div>
        </div>
    </div>
</div>