<div class="forgot_password_form" ng-controller="forgot_passwordCtrl">
    <form name="form" ng-submit="vm.forgot_password()" role="form">
        <div class="row  wow fadeInLeft">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8 form">
                <h2><i class="fa fa-pencil" aria-hidden ="true" ></i>Forgot you password?</h2>
                <hr>

                <p>Please send password to my email!</p>


                <div class="input-group" ng-class="{ 'has-error': form.E-mail.$dirty && form.E-mail.$error.required }">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope"></i>
                        </span>
                    <input type="text" class="form-control email" name="E-mail" id="E-mail" ng-model="vm.user.E-mail" required placeholder="Enter Your E-mail" />
                    <span ng-show="form.E-mail.$dirty && form.E-mail.$error.required" class="help-block"></span>
                </div>

                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-success">Send</button>
                    <a href="#/login" class="btn btn-success">Cancel</a>
                </div>

            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </form>

</div>