<!--Xem thông tin tài khoản-->
<div ng-controller="viewProCtrl" class="view_profiles wow fadeInRight">
    <h2>User Profiles</h2>
    <table class="table table-hover">
        <tr>
            <td><strong>User Name:</strong></td>
            <td>Tam Tran</td>
        </tr>
        <tr>
            <td><strong>Name:</strong></td>
            <td>Tran Thi Minh Tam</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>minhtam@gmail.com</td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td>123456789</td>
        </tr>

    </table>

</div>