<!--Xem thông tin tài khoản-->
<div ng-controller="viewProCtrl" class="view_profiles wow fadeInRight">
    <h2>User Profiles</h2>
    <table class="table table-hover">
        <tr>
            <td><strong>Last name:</strong></td>
            <td>{{last_name}}</td>
        </tr>
        <tr>
            <td><strong>First name:</strong></td>
            <td>{{first_name}}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{email}}</td>
        </tr>
    </table>

</div>