<!--Thay đổi mật khẩu-->



<div class="post_news wow fadeInDown">
    <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i>New Post</h2>
    <hr>

    <form class="form">
        <div class="form-group">
            <label class="control-label">Tittle</label>

            <input type="text" class="form-control" placeholder="enter tittle here">

        </div>
        <div class="form-group">
            <label class="control-label">Categories</label>

            <select class="form-control">
                <option value=" ">Chose Categories</option>
                <option value="star">Star</option>
                <option value="muzik">Muzik</option>
                <option value="film">Film</option>
                <option value="hocduong">Học đường</option>
                <option value="thegioi">Thế giới</option>
                <option value="fashion">Fashion</option>
                <option value="xahoi">Xã hội</option>
                <option value="giaitri">Giải trí</option>

            </select>

        </div>

        <div class="form-group img">
            <label class="control-label">Image</label>

            <input type="file" id="exampleInputFile">


        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <div class="describe">

                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group img">
            <label class="control-label">Detail</label>
            <div class="">
                <img src="assets/img/profiles/a.png" style="width: 580px;" />
                <textarea class="form-control"></textarea>
            </div>
        </div>



        <div class="submit">
            <button type="button" class="btn btn-success">Cancel</button>
            <button type="button" class="btn btn-success">Create Post</button>

        </div>


    </form>